/* CSS geral da pagina */
@font-face {
    font-family: 'Zuume'; /*Nome que precisa colocar para chamar ela*/
    src: url(../Fonts/FontsFree-Net-zuumerough-bold-2.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap');

:root {
 
    --cor-preto: #0d0d0d;
    --cor-branco: #f5f2ea;     
    --cor-cinza-claro: #d9d6cd;
    --cor-cinza-medio: #999691; 
    --cor-cinza-escuro: #4d4a45;
    --cor-vermelho: #b3181c;   

    --fonte-titulo: 'Zuume', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
    --fonte-datilografada: 'Special Elite', monospace;

    --altura-header: 64px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}


.destaque {
    color: var(--cor-vermelho);
    font-weight: 700;
}


section:not(.hero) {
    padding-top: var(--altura-header);
}

/* barra de navegção personalizada */

::-webkit-scrollbar {
  width: 10px;
  background-color: #0d0d0d;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  background-color: #0d0d0d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkred;
  border-radius: 10px;
}

